layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=2 borderless=true {
        plugin location="zjstatus" {
            hide_frame_for_single_pane "false"

            // -- Catppuccin Mocha --
            color_flamingo "#f2cdcd"
            color_pink "#f5c2e7"
            color_mauve "#cba6f7"
            color_red "#f38ba8"
            color_yellow "#f9e2af"
            color_green "#a6e3a1"
            color_teal "#94e2d5"
            color_sapphire "#74c7ec"
            color_blue "#89b4fa"
            color_lavender "#b4befe"
            color_text "#cdd6f4"
            color_overlay2 "#9399b2"
            color_overlay0 "#6c7086"
            color_surface1 "#45475a"
            color_mantle "#181825"

            color_main "#89b4fa"

            format_left  "{mode}#[fg=$main,bg=$mantle,bold] {session}#[bg=$mantle] {tabs}"
            format_right "{command_kubectx}#[fg=surface1,bg=$mantle] {datetime}"
            format_space "#[bg=$mantle]"

            mode_normal        ""
            mode_tmux          "#[fg=$mauve,bold] TMUX"
            mode_locked        "#[fg=$red,bold] LOCKED"
            mode_pane          "#[fg=$teal,bold] PANE"
            mode_tab           "#[fg=$teal,bold] TAB"
            mode_scroll        "#[fg=$green,bold] SCROLL"
            mode_enter_search  "#[fg=$green,bold] ENT-SEARCH"
            mode_search        "#[fg=$green,bold] SEARCHARCH"
            mode_resize        "#[fg=$yellow,bold] RESIZE"
            mode_rename_tab    "#[fg=$yellow,bold] RENAME-TAB"
            mode_rename_pane   "#[fg=$yellow,bold] RENAME-PANE"
            mode_move          "#[fg=$yellow,bold] MOVE"
            mode_session       "#[fg=$pink,bold] SESSION"
            mode_prompt        "#[fg=$pink,bold] PROMPT"

            tab_normal               "#[fg=$overlay0,bg=$mantle] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=$main,bold,bg=$mantle] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            command_kubectx_command  "kubectx -c"
            command_kubectx_format   "#[fg=$overlay0,bg=$mantle,italic] {stdout}"
            command_kubectx_interval "2"

            datetime          "#[fg=$overlay2,bg=$mantle] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "America/Argentina/Buenos_Aires"
        }
    }
}
