layout {
    pane split_direction="vertical" {
        pane
    }

    pane size=2 borderless=true {
        plugin location="zjstatus" {
            hide_frame_for_single_pane "false"

            color_bg "#1E1E2E"
            color_main "colour6"

            border_enabled  "true"
            border_char     "─"
            border_format   "#[bg=$bg,fg=$main]{char}"
            border_position "top"

            format_left  "{mode}#[fg=$main,bg=$bg] {session}#[bg=$bg] {tabs}"
            format_right "{command_kubectx}#[fg=colour8,bg=$bg] {datetime}"
            format_space "#[bg=$bg]"

            mode_normal        ""
            mode_tmux          "#[fg=colour5,bold] TMUX"
            mode_locked        "#[fg=colour1,bold] LOCKED"
            mode_pane          "#[fg=colour6,bold] PANE"
            mode_tab           "#[fg=colour6,bold] TAB"
            mode_scroll        "#[fg=colour2,bold] SCROLL"
            mode_enter_search  "#[fg=colour2,bold] ENT-SEARCH"
            mode_search        "#[fg=colour2,bold] SEARCHARCH"
            mode_resize        "#[fg=colour3,bold] RESIZE"
            mode_rename_tab    "#[fg=colour3,bold] RENAME-TAB"
            mode_rename_pane   "#[fg=colour3,bold] RENAME-PANE"
            mode_move          "#[fg=colour3,bold] MOVE"
            mode_session       "#[fg=colour5,bold] SESSION"
            mode_prompt        "#[fg=colour5,bold] PROMPT"

            tab_normal               "#[fg=colour7,bg=$bg] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=$main,bold,bg=$bg] {index} {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            command_kubectx_command  "kubectx -c"
            command_kubectx_format   "#[fg=colour8,bg=$bg,italic] {stdout}"
            command_kubectx_interval "2"

            datetime          "#[fg=colour7,bg=$bg] {format} "
            datetime_format   "%A, %d %b %Y %H:%M"
            datetime_timezone "America/Argentina/Buenos_Aires"
        }
    }
}
