"*":
  "atom-beautify":
    general:
      _analyticsUserId: "77d7b41c-0f08-4283-aca7-bf19d5103191"
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "markdown-preview"
      "wrap-guide"
    ]
    packagesWithKeymapsDisabled: [
      "nerd-treeview"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-dark"
      "gruvbox-plus-syntax"
    ]
    warnOnLargeFileLimit: 3
  editor:
    fontSize: 11
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    userId: "92585b55-4ecc-4346-8f5e-c7a390bd1b7d"
  "markdown-preview-plus":
    useGitHubStyle: true
  "multi-wrap-guide":
    columns: [
      73
      77
      80
      100
    ]
    locked: true
  "seti-ui":
    compactView: true
    fileIcons: false
  "tree-view": {}
  "tree-view-filter":
    caseInsensitive: true
    liveUpdate: true
  welcome:
    showOnStartup: false
