# Key bindings that match the ones used by petobens on Tmux.

'atom-text-editor':
  'ctrl-a b': 'application:new-file'
  'ctrl-a r': 'tree-view:rename'
  'ctrl-a c': 'core:close'
  'ctrl-a s': 'pane:split-right-and-copy-active-item'
  'ctrl-a v': 'pane:split-down-and-copy-active-item'
  'ctrl-a ctrl-p': 'window:focus-pane-on-left'
  'ctrl-a ctrl-n': 'window:focus-pane-on-right'
  'ctrl-a ctrl-j': 'window:focus-pane-below'
  'ctrl-a ctrl-k': 'window:focus-pane-above'
  'ctrl-a 1': 'pane:show-item-1'
  'ctrl-a 2': 'pane:show-item-2'
  'ctrl-a 3': 'pane:show-item-3'
  'ctrl-a 4': 'pane:show-item-4'
  'ctrl-a 5': 'pane:show-item-5'
  'ctrl-a 6': 'pane:show-item-6'
  'ctrl-a 7': 'pane:show-item-7'
  'ctrl-a 8': 'pane:show-item-8'
  'ctrl-a 9': 'pane:show-item-9'
  'ctrl-a -': 'pane:decrease-size'
  'ctrl-a =': 'pane:increase-size'
  'ctrl-f': 'core:page-down'
  'ctrl-b': 'core:page-up'
  'ctrl-d': 'editor:delete-line'
  'ctrl-a ctrl-d': 'move-panes:move-right'
  'ctrl-a ctrl-a': 'move-panes:move-left'
  'ctrl-a ctrl-w': 'move-panes:move-up'
  'ctrl-a ctrl-s': 'move-panes:move-down'
  'alt-f': 'jumpy:toggle'

'.tree-view':
    'shift-enter': 'unset!'
    'a': 'nerd-treeview:add-file'
    'A': 'nerd-treeview:add-folder'
    'D': 'nerd-treeview:remove'
    'Y': 'nerd-treeview:copy-full-path'
    'y n': 'nerd-treeview:copy-name'
    'y N': 'nerd-treeview:copy-name-ext'
    'm m': 'nerd-treeview:move'
    'm p': 'nerd-treeview:paste'
    'y p': 'nerd-treeview:duplicate'
    'y y': 'nerd-treeview:copy'
    'd d': 'nerd-treeview:cut'
    '/': 'nerd-treeview:search'
    '?': 'nerd-treeview:reverse-search'
    'n': 'nerd-treeview:repeat-search'
    'N': 'nerd-treeview:repeat-search-backwards'
    ':': 'nerd-treeview:search-clear-highlight'

'atom-workspace atom-text-editor:not(.mini),
.tree-view':
    'shift-enter': 'unset!'

'atom-workspace atom-text-editor.jumpy-jump-mode.jumpy-more-specific1.jumpy-more-specific2,
.tree-view.jumpy-jump-mode.jumpy-more-specific1.jumpy-more-specific2':
    'backspace': 'unset!'
    'enter': 'unset!'
    'space': 'unset!'
    'shift-enter': 'unset!'
