// Few changes to make 'an-old-hope-syntax' get along with 'set-ui'

atom-text-editor {
  background-color: #0F1112;
  }
atom-text-editor::shadow .gutter {
  background-color: #080A0C;
  }

// Make inacntive pane darker, as to highlight actual pane.
  .pane {
    .gutter,
    ul.tab-bar {
      opacity: 0.4;
    }
  }

// Make active pane have the gutter line number with light blue to highlight.
  .pane.active {
    .gutter {
      color: #7cbddd;
      opacity: 1;
    }

// Make active pane filename have seti light blue font color.
  ul.tab-bar {
    opacity: 1;
      .tab.active {
        background-color: #33383d;
      }
    }

// highlight current line on gutter.
    .gutter .line-number.cursor-line {
      color: #BEE4F7;
    }

// Add different color to folded lines.
    .gutter .line-number.folded {
      color: #bee4f7;
      background-color: #1d2d35;
    }
  }

// highlight root project folder
atom-workspace.seti-compact atom-panel-container .project-root > .header {
  color: #dddddd;
}

atom-text-editor.editor {
  .multi-wrap-guide:nth-child(1) .multi-wrap-guide-line {
    background-color: fadeout(hsl(107, 40%, 57%), 60%);
    border:0.5px dashed rgba(0, 0, 0, .95);
    width: 1px;
  }
  .multi-wrap-guide:nth-child(2) .multi-wrap-guide-line {
    background-color: fadeout(hsl(196, 64%, 58%), 60%);
    border:0.5px dashed rgba(0, 0, 0, .95);
    width: 1px;
  }
  .multi-wrap-guide:nth-child(3) .multi-wrap-guide-line {
    background-color: fadeout(hsl(352, 81%, 58%), 60%);
    width: 2px;
  }
}

atom-text-editor {
    .jumpy-label {
        background-color: hsl(107, 40%, 57%);
        color: hsl(228, 7%, 12%);
        // font-weight: bolder;
    }
}
